@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@import "tailwindcss";

@theme {
  --*: initial;

  /* Gray scale */
  --color-gray-5: #121212;
  --color-gray-10: #1e1e1e;
  --color-gray-15: #292929;
  --color-gray-20: #363636;
  --color-gray-30: #424242;
  --color-gray-40: #525252;
  --color-gray-50: #6e6e6e;
  --color-gray-60: #8c8c8c;
  --color-gray-70: #a8a8a8;
  --color-gray-80: #c7c7c7;
  --color-gray-90: #e6e6e6;
  --color-gray-95: #f2f2f2;
  --color-gray-100: #ffffff;

  /* blue Blue */
  --color-blue-10: #001642;
  --color-blue-15: #001e5b;
  --color-blue-20: #00297a;
  --color-blue-30: #0235c0;
  --color-blue-40: #0250d9;
  --color-blue-50: #066afe;
  --color-blue-60: #4992fe;
  --color-blue-65: #5f9ffe;
  --color-blue-70: #7cb1fe;
  --color-blue-80: #a8cbff;
  --color-blue-90: #d6e6ff;
  --color-blue-95: #edf4ff;

  /* Error (Red) */
  --color-red-10: #370101;
  --color-red-20: #610205;
  --color-red-30: #8a030a;
  --color-red-40: #b60505;
  --color-red-50: #df2424;
  --color-red-60: #f74b45;
  --color-red-70: #fe807c;
  --color-red-80: #fdb6b6;
  --color-red-90: #fddddd;
  --color-red-95: #fef0f0;

  /* Sky Blue */
  --color-sky-blue-10: #00273d;
  --color-sky-blue-20: #003a5c;
  --color-sky-blue-30: #006199;
  --color-sky-blue-40: #027dc5;
  --color-sky-blue-50: #0c98e9;
  --color-sky-blue-60: #2faff9;
  --color-sky-blue-70: #6ac6fb;
  --color-sky-blue-80: #acdefc;
  --color-sky-blue-90: #ccecff;
  --color-sky-blue-95: #f1f9fe;

  /* Success (Green) */
  --color-green-10: #012d21;
  --color-green-20: #024533;
  --color-green-30: #036349;
  --color-green-40: #04815f;
  --color-green-50: #03a076;
  --color-green-60: #04be8c;
  --color-green-70: #26d99d;
  --color-green-80: #79e7c2;
  --color-green-90: #aff3dd;
  --color-green-95: #def9f0;

  /* Warning (Yellow) */
  --color-yellow-10: #281202;
  --color-yellow-20: #4f2100;
  --color-yellow-30: #6f3400;
  --color-yellow-40: #8c4b02;
  --color-yellow-50: #a86403;
  --color-yellow-60: #ca8501;
  --color-yellow-70: #e4a201;
  --color-yellow-80: #fcc003;
  --color-yellow-90: #f9e3b6;
  --color-yellow-95: #fbf3e0;
}

@layer base {
  html,
  body {
    font-family: "Pretendard Variable";
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
  }
}
