@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Gray scale */
  --color-gray-5: #121212;
  --color-gray-10: #1e1e1e;
  --color-gray-15: #292929;
  --color-gray-20: #363636;
  --color-gray-30: #424242;
  --color-gray-50: #6e6e6e;
  --color-gray-60: #8c8c8c;
  --color-gray-70: #a8a8a8;
  --color-gray-80: #c7c7c7;
  --color-gray-90: #e6e6e6;
  --color-gray-95: #f2f2f2;
  --color-gray-100: #ffffff;

  /* Error (Red) */
  --color-red-10: #370101;
  --color-red-20: #610205;
  --color-red-30: #8a030a;
  --color-red-40: #b60505;
  --color-red-50: #df2424;
  --color-red-60: #f74b45;
  --color-red-70: #fe807c;
  --color-red-80: #fdb6b6;
  --color-red-90: #fddddd;
  --color-red-95: #fef0f0;

  /* Warning (Yellow) */
  --color-yellow-10: #281202;
  --color-yellow-20: #4f2100;
  --color-yellow-30: #6f3400;
  --color-yellow-40: #8c4b02;
  --color-yellow-50: #a86403;
  --color-yellow-60: #ca8501;
  --color-yellow-70: #e4a201;
  --color-yellow-80: #fcc003;
  --color-yellow-90: #f9e3b6;
  --color-yellow-95: #fbf3e0;
}

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-gray-5);
  }
}

/* 📑 댓글(Frame1432) 기준으로 (임의) 작업 */
/* 스크롤바 전체 너비 설정 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤바 트랙(배경) 색상 */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 핸들(움직이는 막대) 스타일 */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-50);
  border-radius: 20px;
}
